ipython
ipdb
sdb
pip-tools
pytest
pytest-order
httpx
black
flake8


.
├── docker-compose.yaml
├── Dockerfile.dev
├── MANIFEST.in
├── requirements-dev.txt
├── requirements.in
├── .secrets.toml
├── settings.toml
├── setup.py
├── test.sh
├── pamps
│   ├── __init__.py
│   ├── app.py
│   ├── auth.py
│   ├── cli.py
│   ├── config.py
│   ├── db.py
│   ├── default.toml
│   ├── security.py
│   ├── models
│   │   ├── __init__.py
│   │   ├── post.py
│   │   └── user.py
│   └── routes
│       ├── __init__.py
│       ├── auth.py
│       ├── post.py
│       └── user.py
├── postgres
│   ├── create-databases.sh
│   └── Dockerfile
└── tests
    ├── conftest.py
    ├── __init__.py
    └── test_api.py